- name: Deploy Frontend
  block:
    - name: Ensure Podman is installed
      ansible.builtin.package:
        name: podman
        state: present
    
    - name: Log in to the private Docker registry
      containers.podman.podman_login:
        registry: "https://registry.hq.pentestacademy.tech"
        username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36343164623930393863363465613165353433383730373663316462616530646661323035646332
          3835366361616137363062343839316131643239313433360a393532393438313030376236653666
          39313036653564626431396635376337613632356638366334356636663236663861346330633965
          6234396132323936630a633930653731633062353533623230666164303739303739326631393764
          3761
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39336131343664363335653166356163313462393930373063333738363535303763636566623436
          3338386261333437356136306563323935636164623431620a333432343534376230373661323236
          38643665303231363131393665313138656138666237653062396565333231306264353433323634
          3566633132383131620a646538633230656665623666653339313633343333336432333232656133
          3639

    - name: Pull the Frontend Docker image
      containers.podman.podman_image:
        name: registry.hq.pentestacademy.tech/frontend:latest # Using the official Docker Registry image
        state: present
    - name: Create a Podman network
      containers.podman.podman_network:
        name: web_net
        state: present

    - name: Run the Frontend Docker container
      containers.podman.podman_container:
        name: frontend
        image: registry.hq.pentestacademy.tech/frontend:latest
        state: started
        detach: true
        network: web_net
        exposed_ports:
          - 8080
        ports:
          - "8080:8080"
        restart_policy: always
