---
- name: Install Vulnerable WordPress 5.0 and WooCommerce 3.4.0
  hosts: localhost
  become: yes
  vars:
    wp_db_name: "wordpress_db"
    wp_db_user: "wp_user"
    wp_db_pass: "InsecurePassword123"
    wp_root_dir: "/var/www/html"

  tasks:
    ## 1. INFRASTRUCTURE & PHP-APACHE INTEGRATION (Do this first!)
    - name: Install Stack (Apache, MariaDB, PHP 7.0)
      apt:
        name:
          - software-properties-common
          - python-mysqldb
          - apache2
          - mariadb-server
          - php7.0
          - php7.0-mysql
          - php-imagick
          - unzip
          - libapache2-mod-php7.0
        state: present
        update_cache: yes

    - name: Force Overwrite Apache VirtualHost for WordPress
      become: yes
      copy:
        dest: /etc/apache2/sites-available/000-default.conf
        content: |
          <VirtualHost *:80>
              ServerAdmin webmaster@localhost
              DocumentRoot {{ wp_root_dir }}

              <Directory {{ wp_root_dir }}>
                  Options Indexes FollowSymLinks
                  AllowOverride All
                  Require all granted
              </Directory>

              ErrorLog ${APACHE_LOG_DIR}/error.log
              CustomLog ${APACHE_LOG_DIR}/access.log combined
          </VirtualHost>

    - name: Manually Create .htaccess with WordPress Rewrite Rules
      copy:
        dest: "{{ wp_root_dir }}/.htaccess"
        content: |
          # BEGIN WordPress
          <IfModule mod_rewrite.c>
          RewriteEngine On
          RewriteBase /
          RewriteRule ^index\.php$ - [L]
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteCond %{REQUEST_FILENAME} !-d
          RewriteRule . /index.php [L]
          </IfModule>
          # END WordPress
        owner: www-data
        group: www-data
        mode: '0666'

    - name: Configure Web Server for WordPress
      shell: |
        a2enmod rewrite
        a2enmod php7.0
      notify: restart apache

    - name: Set PHP Priority
      lineinfile:
        path: /etc/apache2/mods-enabled/dir.conf
        regexp: 'DirectoryIndex index.html index.cgi index.pl index.php index.xhtml index.htm'
        line: 'DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm'
      notify: restart apache

    - name: Start Services
      service:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop: [apache2, mysql]

    ## 2. DATABASE CONFIGURATION
    - name: Create MySQL Database and User
      mysql_db:
        name: "{{ wp_db_name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create MySQL User
      mysql_user:
        name: "{{ wp_db_user }}"
        password: "{{ wp_db_pass }}"
        priv: "{{ wp_db_name }}.*:ALL"
        host: "localhost"
        login_unix_socket: /var/run/mysqld/mysqld.sock

    ## 3. WORDPRESS & WOOCOMMERCE INSTALLATION
    - name: Download WP and WooCommerce
      unarchive:
        src: "{{ item.url }}"
        dest: "{{ item.dest }}"
        remote_src: yes
      loop:
        - { url: 'https://wordpress.org/wordpress-5.0.tar.gz', dest: '/tmp' }
        - { url: 'https://downloads.wordpress.org/plugin/woocommerce.3.4.0.zip', dest: '/tmp' }

    - name: Deploy Files to Web Root
      shell: |
        cp -r /tmp/wordpress/* {{ wp_root_dir }}/
        cp -r /tmp/woocommerce {{ wp_root_dir }}/wp-content/plugins/
        chown -R www-data:www-data {{ wp_root_dir }}

    - name: Configure wp-config.php
      shell: |
        cp {{ wp_root_dir }}/wp-config-sample.php {{ wp_root_dir }}/wp-config.php
        sed -i "s/database_name_here/{{ wp_db_name }}/" {{ wp_root_dir }}/wp-config.php
        sed -i "s/username_here/{{ wp_db_user }}/" {{ wp_root_dir }}/wp-config.php
        sed -i "s/password_here/{{ wp_db_pass }}/" {{ wp_root_dir }}/wp-config.php
        echo "define( 'AUTOMATIC_UPDATER_DISABLED', true );" >> {{ wp_root_dir }}/wp-config.php
        echo "define( 'WP_AUTO_UPDATE_CORE', false );" >> {{ wp_root_dir }}/wp-config.php

    - name: Set Vulnerable Permissions (PCI Violation Simulation)
      file:
        path: "{{ wp_root_dir }}"
        state: directory
        recurse: yes
        mode: '0777'

    ## 4. WP-CLI CONFIGURATION (The "Logic" Layer)
    - name: Setup WP-CLI
      get_url:
        url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
        dest: /usr/local/bin/wp
        mode: '0755'

    - name: WP Core Install
      command: >
        wp core install
        --url="http://{{ ansible_eth1.ipv4.address }}"
        --title="Vulnerable Store"
        --admin_user="admin"
        --admin_password="P@ssword123"
        --admin_email="admin@example.com"
        --path="{{ wp_root_dir }}"
        --allow-root
    
    - name: Final WooCommerce Mapping and Permalink Flush
      shell: |
        # Activate and complete setup
        wp plugin activate woocommerce --allow-root --path={{ wp_root_dir }}
        wp option update woocommerce_setup_status "completed" --allow-root --path={{ wp_root_dir }}
        wp wc tool run install_pages --allow-root --user=admin --path={{ wp_root_dir }}

        # Map IDs using a bash loop - we use single quotes to keep bash logic away from Jinja
        for p in shop cart checkout my-account; do
          ID=$(wp post list --post_type=page --name="$p" --field=ID --allow-root --path={{ wp_root_dir }})
          
          if [ "$p" = "shop" ]; then
            OPT="woocommerce_shop_page_id"
          elif [ "$p" = "my-account" ]; then
            OPT="woocommerce_myaccount_page_id"
          else
            # Construction that avoids the ${p} Jinja2 conflict
            OPT="woocommerce_"$p"_page_id"
          fi
          
          wp option update "$OPT" "$ID" --allow-root --path={{ wp_root_dir }}
        done

        # Storefront Setup
        wp theme install storefront --activate --allow-root --path={{ wp_root_dir }}
        
        # Assign Homepage template to the Shop page
        SHOP_ID=$(wp post list --post_type=page --name=shop --field=ID --allow-root --path={{ wp_root_dir }})
        wp post update "$SHOP_ID" --page_template=template-homepage.php --allow-root --path={{ wp_root_dir }}

        # Set Shop as Front Page
        wp option update show_on_front 'page' --allow-root --path={{ wp_root_dir }}
        wp option update page_on_front "$SHOP_ID" --allow-root --path={{ wp_root_dir }}

        # Add a sample product
        wp wc product create --name="Vulnerable T-Shirt" --type="simple" --regular_price="19.99" --user=admin --allow-root --path={{ wp_root_dir }}

        # Final Flush
        wp rewrite structure '/%postname%/' --hard --allow-root --path={{ wp_root_dir }}
        wp rewrite flush --hard --allow-root --path={{ wp_root_dir }}
      args:
        executable: /bin/bash

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted
