---
- name: Install Vulnerable WordPress 5.0 on Ubuntu 16.04
  hosts: localhost
  become: yes
  vars:
    wp_db_name: "wordpress_db"
    wp_db_user: "wp_user"
    wp_db_pass: "InsecurePassword123" # PCI Violation: Weak password
    wp_root_dir: "/var/www/html"

  tasks:
    - name: Install prerequisite packages
      apt:
        name: 
          - software-properties-common
          - python-mysqldb # Ubuntu 18.04 uses python3
        state: present
        update_cache: yes

    - name: Install Apache, MariaDB, and PHP 7.0 Stack
      apt:
        name:
          - apache2
          - mariadb-server
          - php7.0
          - php7.0-common
          - php7.0-mysql
          - php7.0-xml
          - php7.0-xmlrpc
          - php7.0-curl
          - php7.0-gd
          - php-imagick # Essential for WP 5.0 RCE
          - php7.0-mbstring
          - php7.0-zip
          - libapache2-mod-php7.0
        state: present

    - name: Enable PHP 7.0 MySQL extension
      command: phpenmod mysql mysqli
      notify: restart apache

    - name: Ensure Apache PHP module is enabled
      apache2_module:
        name: php7.0
        state: present
      notify: restart apache 

    - name: Start Services
      service:
        name: "{{ item }}"
        state: started
        enabled: yes
      loop:
        - apache2
        - mysql

    - name: Create MySQL database
      mysql_db:
        name: "{{ wp_db_name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create MySQL user (with high privileges for lab)
      mysql_user:
        name: "{{ wp_db_user }}"
        password: "{{ wp_db_pass }}"
        priv: "{{ wp_db_name }}.*:ALL"
        state: present
        host: "localhost"
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Download WordPress 5.0
      unarchive:
        src: https://wordpress.org/wordpress-5.0.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Copy WordPress to Web Root
      copy:
        src: /tmp/wordpress/
        dest: "{{ wp_root_dir }}"
        owner: www-data
        group: www-data
        remote_src: yes

    - name: Create wp-config.php from sample
      command: cp {{ wp_root_dir }}/wp-config-sample.php {{ wp_root_dir }}/wp-config.php
      args:
        creates: "{{ wp_root_dir }}/wp-config.php"

    - name: Configure wp-config.php database settings
      lineinfile:
        path: "{{ wp_root_dir }}/wp-config.php"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: 'database_name_here', line: "define( 'DB_NAME', '{{ wp_db_name }}' );" }
        - { regexp: 'username_here', line: "define( 'DB_USER', '{{ wp_db_user }}' );" }
        - { regexp: 'password_here', line: "define( 'DB_PASSWORD', '{{ wp_db_pass }}' );" }

    - name: Disable WordPress Auto-Updates in wp-config.php
      lineinfile:
        path: "{{ wp_root_dir }}/wp-config.php"
        insertbefore: "\\/\\* That's all, stop editing! \\*\\/"
        line: "{{ item }}"
      loop:
        - "define( 'AUTOMATIC_UPDATER_DISABLED', true );"
        - "define( 'WP_AUTO_UPDATE_CORE', false );"

    - name: Set permissions (Vulnerable 777 for lab simulation)
      file:
        path: "{{ wp_root_dir }}"
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
        mode: '0777' # PCI Violation: Insecure directory permissions

    - name: Download Legacy WooCommerce 3.4.0
      get_url:
        url: https://downloads.wordpress.org/plugin/woocommerce.3.4.0.zip
        dest: /tmp/woocommerce.3.4.0.zip

    - name: Ensure Unzip is installed
      apt:
        name: unzip
        state: present

    - name: Extract WooCommerce to Plugins Directory
      unarchive:
        src: /tmp/woocommerce.3.4.0.zip
        dest: "{{ wp_root_dir }}/wp-content/plugins/"
        remote_src: yes
        owner: www-data
        group: www-data

    - name: Force Insecure Permissions on Plugin Directory
      file:
        path: "{{ wp_root_dir }}/wp-content/plugins/woocommerce"
        state: directory
        recurse: yes
        mode: '0777' # PCI Violation: Allows attackers to inject malicious code into the payment gateway

    - name: Download WP-CLI
      get_url:
        url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
        dest: /usr/local/bin/wp
        mode: '0755'

    - name: Create Wordpress database tables
      command: >
        wp core install
        --url="http://{{ ansible_eth1.ipv4.address }}" 
        --title="Insecure WooCommerce Store"
        --admin_user="admin"
        --admin_password="P@ssword123"
        --admin_email="admin@example.com"
        --path="{{ wp_root_dir }}"
        --allow-root

    - name: Activate WooCommerce via CLI
      command: "wp plugin activate woocommerce --allow-root --path={{ wp_root_dir }}"
      ignore_errors: yes

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted
