- name: Deploy API
  block:
    - name: Ensure Podman is installed
      ansible.builtin.package:
        name: podman
        state: present
    
    - name: Log in to the private Docker registry
      containers.podman.podman_login:
        registry: "https://registry.hq.pentestacademy.tech"
        username: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36343164623930393863363465613165353433383730373663316462616530646661323035646332
          3835366361616137363062343839316131643239313433360a393532393438313030376236653666
          39313036653564626431396635376337613632356638366334356636663236663861346330633965
          6234396132323936630a633930653731633062353533623230666164303739303739326631393764
          3761
        password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39336131343664363335653166356163313462393930373063333738363535303763636566623436
          3338386261333437356136306563323935636164623431620a333432343534376230373661323236
          38643665303231363131393665313138656138666237653062396565333231306264353433323634
          3566633132383131620a646538633230656665623666653339313633343333336432333232656133
          3639

    - name: Pull the API Docker image
      containers.podman.podman_image:
        name: registry.hq.pentestacademy.tech/api:latest # Using the official Docker Registry image
        state: present

    - name: Run the API Docker container
      containers.podman.podman_container:
        name: api
        image: registry.hq.pentestacademy.tech/api:latest
        state: started
        detach: true
        network: api-net
        exposed_ports:
          - 8080
        ports:
          - "8080:8080"
        env:
          ConnectionStrings__DefaultConnection: !vault |
            $ANSIBLE_VAULT;1.1;AES256
            37303562666131373062663562376631613163366264326437623761653764613263656234643365
            6165656464333939396430393166343132613961646432300a623933616361333438303831623431
            65346339613239323430653263386161656364666563363035333964306636386163653765333634
            3234663534386565320a663538623835313666313035346135623031636332643032613261636534
            31633431316434626262363532376162393964643965383036346232323037303135363865623962
            35633238663534376338626436363664623363336665313362626430333665623363613961623839
            61343838303765623665626539356264356535653965373434623530663030626631336334643232
            33663864666230346332633731323061656639636437386365343566373636656439613934366565
            63343834363135393736343830336663616164306266646538333262343132303765
        restart_policy: always

